.footer {
  display: flex;
  flex-direction: column;
  background: #1d2327;
  color: white;
  margin-top: 4em;
  
  .footer__title {
    text-align: center;
    font-size: $font-clamp-title-01;
    margin-top: 1em;
  }
  .contacts-list {
    text-align: center;
    margin: 2em 0;
    font-size: $font-clamp-text-03;

    .contacts-list__item {
      margin: 1.5em 0;
      h3 {
        font-weight: 700;
        margin: 0.5em 0;
      }
      a {
        color: white;
      }
      .email-row {
        .email-row__email {
          margin-bottom: 0.25em;
        }
        button {
          font-family: $font-sans-serif;
          color: black;
          padding: 0.25em;
          background: #dfdfdf;
          /* font-style: italic; */
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
  .links-list {
    display: flex;
    flex-direction: row;
    margin: 2rem auto;
    margin-bottom: 2em;

    .links-list__item {
      margin: auto 2rem;
      text-align: center;
      font-size: 5rem;
      list-style: none;
      font-size: $font-clamp-text-02;

      a {
        color: white;
      }
    }
  }
}


.links-list .github-link {
    display: flex;
    flex-direction: column;
    text-decoration: none;

    &:hover {
        span {
            text-decoration: underline;
        }
    }

    em {
        font-size: 6rem;
    }

    span {
        margin-top: 1rem;
        font-size: 2.5rem;
    }

    svg {
      margin: auto;
    }
}

@media (min-width: 1000px) {
    .footer {
        margin-top: 8em;
    }
}
