@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

$font-sans-serif: "Fira Sans", sans-serif;
$font-serif: "Roboto Slab", serif;

$font-clamp-title-01: clamp(3.5rem, 2.5vw, 5rem);
$font-clamp-title-02: clamp(4.0rem, 4vw, 5.5rem);
$font-clamp-title-03: clamp(2.2rem, 2vw, 2.8rem);

$font-clamp-text-01: clamp(1.5rem, 2.5vw, 2rem);
$font-clamp-text-02: clamp(1.5rem, 2.5vw, 2rem);
$font-clamp-text-03: clamp(2.0rem, 2vw, 2.5rem);
$font-clamp-text-04: clamp(1.6rem, 2vw, 2rem);

$color-primary: #1d2327;
$color-primary-light: #303437;