@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

img {
  max-width: 100%;
  display: block;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 2rem;
  margin: 0;
  padding: 0rem;
  font-family: "Fira Sans", sans-serif;
}

.title {
  /* font-size: 4.2rem; */
  text-align: center;
  font-family: "Roboto Slab", serif;
  margin: 2em 0 1em 0;
  padding-top: 7rem;
  font-size: clamp(4rem, 2.5vw, 6.8rem);
}

@media (min-width: 1000px) {
  .title {
    /* font-size: 4.2rem; */
    margin: 2.5em 0 1em 0;
  }
}
.section {
  margin-bottom: 4em;
  margin: auto;
}

.hide-nav {
  display: none;
}

.wrapper .container {
  display: flex;
  flex-direction: column;
}

.header {
  transition: height 1s;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: #1d2327;
  position: fixed;
  width: 100%;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.4);
}
.header .header__watermark {
  flex-basis: 80%;
  display: flex;
}
.header .header__watermark a {
  padding: 0rem 2rem;
  text-decoration: none;
  color: white;
  text-shadow: 1px 1px 3px rgb(0, 0, 0);
  font-size: clamp(1.8rem, 1.075vw, 3.2rem);
  margin: 1em auto 1em 0;
}
.header .header__watermark a i {
  padding: 1rem;
}
.header .header__hamburger {
  display: flex;
  margin-left: auto;
  background: unset;
  border: none;
  font-size: 2.5rem;
  color: #ebebeb;
  text-align: right;
}
.header .header__hamburger i {
  padding: 1rem;
  margin: auto;
}
.header .header__hamburger:hover {
  cursor: pointer;
}
.header .nav {
  flex-basis: 100%;
  font-size: clamp(1.8rem, 1.075vw, 3.2rem);
}
.header .nav .nav__ul {
  padding: 0em 1em 1em 1em;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.header .nav .nav__ul .nav__li {
  list-style: none;
}
.header .nav .nav__ul .nav__li a {
  padding: 0.5em 0;
  display: block;
  text-decoration: none;
  text-shadow: 1px 1px 3px rgb(0, 0, 0);
  color: white;
}
.header .nav .nav__ul .nav__li a:hover {
  text-decoration: underline;
}

@media (min-width: 780px) {
  .header .header__watermark {
    flex-basis: 35%;
  }
  .header .nav {
    margin-left: auto;
    flex-basis: 65%;
    display: flex;
  }
  .header .nav .nav__ul {
    padding: 0em 0em;
    flex-direction: row;
    margin-left: auto;
  }
  .header .nav .nav__ul .nav__li {
    display: flex;
    margin: 0 1em;
  }
  .header .nav .nav__ul .nav__li a {
    padding: 0.5em 0.5em;
    margin: auto;
  }
  .header .header__hamburger {
    display: none;
  }
}
.section--about {
  max-width: 100rem;
}
.section--about .technologies__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.section--about .technologies__wrapper .technologies {
  flex-basis: 450px;
  margin: 1em auto;
  padding: 1rem;
}
.section--about .technologies__wrapper .technologies .technologies__title {
  font-family: "Roboto Slab", serif;
  margin-bottom: 0.5em;
  font-size: clamp(2.4rem, 1.7vw, 4rem);
}
.section--about .technologies__wrapper .technologies__list {
  font-size: clamp(1.8rem, 1.075vw, 3.2rem);
  font-size: clamp(1.8rem, 1.1vw, 2.8rem);
}
.section--about .technologies__wrapper .technologies__list .technologies__item {
  margin: 0.5em 0;
  list-style: none;
}
.section--about .technologies__wrapper .technologies__list .technologies__item span {
  font-weight: 700;
}

.section--projects {
  max-width: 160rem;
  padding: 0 1rem;
}
.section--projects .projects-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.section--projects .projects-list .projects-list__item {
  list-style: none;
  flex-basis: 100%;
  margin: 1em 0;
}
.section--projects .projects-list .projects-list__item .project-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 2rem;
  max-width: 60rem;
  margin: auto;
  height: 100%;
}
.section--projects .projects-list .projects-list__item .project-card .project-card__title {
  font-family: "Roboto Slab", serif;
  font-size: clamp(2.6rem, 1.15vw, 3.6rem);
  font-weight: 700;
  text-align: center;
  margin-bottom: auto;
}
.section--projects .projects-list .projects-list__item .project-card .title--small {
  font-size: clamp(2rem, 1.1vw, 2.8rem);
}
.section--projects .projects-list .projects-list__item .project-card .project-card__figure {
  text-align: center;
  margin: auto;
  margin: 1em auto;
}
.section--projects .projects-list .projects-list__item .project-card .project-card__figure .project-card__image {
  border: solid 1px rgba(0, 0, 0, 0.2);
}
.section--projects .projects-list .projects-list__item .project-card .project-card__links {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.section--projects .projects-list .projects-list__item .project-card .project-card__links .button {
  font-size: clamp(1.6rem, 1.01vw, 2rem);
  flex-basis: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0.5em;
  margin: 0.35em auto;
  border-radius: 4px;
  box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.1);
  /* hover */
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: transform;
  transition-property: transform;
  /* end hover */
}
.section--projects .projects-list .projects-list__item .project-card .project-card__links .button:hover, .section--projects .projects-list .projects-list__item .project-card .project-card__links .button:focus, .section--projects .projects-list .projects-list__item .project-card .project-card__links .button:active {
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
}
.section--projects .projects-list .projects-list__item .project-card .project-card__links .button em {
  margin-left: 0.5em;
  font-size: 2.5rem;
}
.section--projects .projects-list .projects-list__item .project-card .project-card__links .button--demo {
  background: green;
  color: white;
}
.section--projects .projects-list .projects-list__item .project-card .project-card__links .button--git {
  background: #303437;
  color: white;
}

@media (min-width: 650px) {
  .section--projects .projects-list .projects-list__item {
    padding: 0 1em;
    flex-basis: 50%;
  }
  .section--projects .projects-list .projects-list__item .project-card .project-card__title {
    min-height: 6.2rem;
  }
}
.section--title {
  color: white;
  background-color: #1d2327;
  background-image: url("../images/wallpaper-01.jpg");
  background-size: cover;
  background-position: 0% 57.5%;
  height: 62.5rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 3.8rem;
}
.section--title .section--title__wrapper {
  padding: 0 1rem;
  margin: auto;
  margin-top: 20rem;
}
.section--title .section--title__wrapper .section--title__title {
  text-shadow: 1px 1px 3px rgb(0, 0, 0);
  font-size: clamp(4rem, 2.5vw, 6.8rem);
}
.section--title .section--title__wrapper .section--title__paragraph {
  text-shadow: 1px 1px 3px rgb(0, 0, 0);
  margin-top: 1em;
  font-size: clamp(1.8rem, 1.075vw, 3.2rem);
}

@media (min-width: 900px) {
  .section--title {
    height: clamp(62.5rem, 35vw, 100rem);
  }
}
.footer {
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  background: #1d2327;
  color: white;
  margin-top: 4em;
}
.footer .footer__title {
  text-align: center;
  font-size: clamp(4rem, 2.5vw, 6.8rem);
  margin-top: 1em;
}
.footer .contacts-list {
  text-align: center;
  margin: 4em 0;
  font-size: clamp(2rem, 1.12vw, 2.8rem);
}
.footer .contacts-list .contacts-list__item {
  margin: 1.5em 0;
}
.footer .contacts-list .contacts-list__item h3 {
  font-weight: 700;
  margin: 0.5em 0;
}
.footer .contacts-list .contacts-list__item a {
  color: white;
}
.footer .contacts-list .contacts-list__item .email-row .email-row__email {
  margin-bottom: 0.25em;
}
.footer .contacts-list .contacts-list__item .email-row button {
  font-family: "Fira Sans", sans-serif;
  font-size: clamp(1.6rem, 1.06vw, 2rem);
  color: black;
  padding: 0.25em;
  background: #dfdfdf;
  /* font-style: italic; */
}
.footer .contacts-list .contacts-list__item .email-row button:hover {
  cursor: pointer;
}
.footer .links-list {
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-bottom: 2em;
}
.footer .links-list .links-list__item {
  text-align: center;
  font-size: 5rem;
  list-style: none;
  font-size: clamp(6rem, 4vw, 8rem);
}
.footer .links-list .links-list__item a {
  color: white;
}

@media (min-width: 1000px) {
  .footer {
    margin-top: 8em;
  }
}

/*# sourceMappingURL=style.css.map */
