.section--about {
  max-width: 80rem;
  .technologies__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .technologies {
      flex-basis: 350px;
      margin: 1em auto;
      padding: 1rem;
      .technologies__title {
        font-family: $font-serif;
        margin-bottom: 0.5em;
        font-size: clamp(2.4rem, 1.7vw, 4rem);
      }
    }
    .technologies__list {
      font-size: $font-clamp-text-01;
      font-size: clamp(1.8rem, 1.1vw, 2.8rem);
      .technologies__item {
        margin: 0.5em 0;
        list-style: none;
        span {
          font-weight: 700;
        }
      }
    }
  }
}
